@import './site-fonts';

body {
  font-family: OpenSans, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Hammersmith, 'Times New Roman', Times, serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 40px;
  max-width: 400px;
}

p {
  margin-bottom: 35px;
}

svg {
  min-width: 25px;
}

button {
  border: 0 none;
  background: none;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: default;
  list-style: default;
  margin-bottom: 10px;
  padding-left: 5;
}

nav {
  margin: 0;
}

li {
  list-style-position: inside;
  list-style: disc;
  font-weight: 300px;
  font-size: 16px;
  max-width: 700px;
  margin-bottom: 10px;
}

a {
  color: #8954a8;
  font-weight: bold;
  font-size: 16px;
  vertical-align: 5%;
}

code {
  color: #8a6534;
  padding: 4px;
  background-color: #fff4db;
  font-size: 1.25rem;
  border-radius: 4px;
}

table {
  width: 70%;
  border: 0 none;
  border-spacing: 0;

  tr {

    &:hover {
      background: #efefef;
    }
  }

  td {
    border: 0 none;
  }
}
