@mixin triangleSide($width, $color) {
  width: 0;
  height: 0;
  border-right: $width solid transparent;
  border-left: $width solid transparent;
  border-bottom: calc(var(--die-size) * 0.5) solid $color;
}

$faceColor: #e6e6e6;
$sideColor: #cccccc;

.die-container {
  position: relative;
  height: calc(var(--die-size) * 2.25);
  display: inline-block;
  margin: 0 10px calc(var(--die-size) * -1 * 0.625);
  font-size: var(--die-size);
}

.eqt {
  @include triangleSide(var(--die-size), $faceColor);

  /* (border-left-width + border-right-width) * 0.8660254 = border-bottom-width = EquilateralTriangle height */
  border-bottom: calc(var(--die-size) * 2 * 0.8660254) solid $faceColor;
}

.eqt-left {
  @include triangleSide(var(--die-size),$sideColor);

  position: absolute;
  top: calc(var(--die-size) * 0.49);
  left: calc((var(--die-size) * 0.71 * -1));
  transform: rotateZ(
    -60deg
  );
}

.eqt-right {
  @include triangleSide(var(--die-size), $sideColor);

  position: absolute;
  top: calc(var(--die-size) * 0.49);
  left: calc(var(--die-size) * 0.71);
  transform: rotateZ(
    60deg
  );
}

.eqt-bottom {
  @include triangleSide(var(--die-size), $sideColor);

  position: absolute;
  top: calc(var(--die-size) * 1.73);
  left: 0;
  transform: rotateZ(
    180deg
  );
}

.die-face {
  position: absolute;
  top: calc(var(--die-size) * 0.3125);
  width: 100%;
  text-align: center;
}
