@import './defaults';
@import './variables';

body {
  background-color: $backgroundColor;
}

.page-styles {
  color: $primaryFontColor;
  padding: 96px;
}

.reference-title {
  color: '#663399';
}

.codeStyles {
  color: #8a6534;
  padding: 4px;
  background-color: #fff4db;
  font-size: 1.25rem;
  border-radius: 4px;
}

.description {
  color: $primaryFontColor;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.25;
}

.new-badge {
  color: #ffffff;
  background-color: #088413;
  border: 1px solid #088413;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  padding: 4px 6px;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 10px;
  line-height: 1;
}

.break-table-cell {
  padding-right: 20px;
}

.xp-table {
  text-align: center;
}

.navigation-list {
  margin: 0;
  list-style-type: none;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  max-width: 200px;
  background: #ffffff;
  border-right: 1px solid #111111;
  height: 100%;
  padding: 15px;
  user-select: none;

  &.hide-menu {
    margin-left: -500px;
  }

  &.show-menu {
    margin-left: 0;
  }

  .nav-item {
    margin: 0;
  }

  .nav-close {
    position: absolute;
    top: 15px;
    right: 15px;

    svg {
      height: 20px;
    }
  }
}
